@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url('../utils/assets/fonts/Roboto-Black.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('../utils/assets/fonts/Roboto-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('../utils/assets/fonts/Roboto-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../utils/assets/fonts/Roboto-Regular.ttf') format('opentype');

}
@font-face {
  font-family: 'Patrick Hand';
  font-weight: 900;
  font-style: normal;
  src: url('../utils/assets/fonts/PatrickHand-Regular.ttf') format('opentype');
}
