
$background-color-main: #fafaff;
$background-color-secondary: #524790;

$color-main: #212431;
$color-gray: #757575;
$color-white: #fafaff;

$padding-x: 20px;
$padding-x-laptop: 40px;
$padding-y: 40px;
$padding-y-laptop: 60px;

$subtitle-size: 1.5rem;
$subtitle-size-laptop: 2rem;